/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* CSS Variables */
:root {
    --dark-green: #057c45;
    --dark-grayish-blue: #343a40;
    --green: #17b76b;
    --forest-green: #148456;
    --orange: #ec7d51;
    --pale-orange: #ffe3cc;
    --soft-orange: #febb84;
    --white: #fff;
}

/* Universal selector styling */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* General element styling */
body {
    /*background: #17a76b;*/
    background: #17a76b;
}

/* Main page view styling */
#view-highscores-btn {
    background: #13663d;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    display: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding: 10px 20px;
}

#view-highscores-btn:hover {
    background: var(--white);
    color: var(--dark-green);
}

#instructions {
    align-items: center;
    color: var(--white); 
    display: flex;
    flex-direction: column;
    font-size: 18px; 
    line-height: 1.4; 
    margin: 0 auto; 
    margin-bottom: 10px; 
    margin-top: 4%; 
    max-width: 800px; 
    padding: 30px 40px; 
}

#instructions h2 {
    margin-bottom: 50px;
}

#instructions p {
    margin-bottom: 20px;
}

.start-button {
    display: flex;
    justify-content: center;
}

.quiz-box,
.result-box,
.highscore-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quiz-box.activeQuiz,
.result-box.activeResult,
.highscore-box.activeResult {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    z-index: 5;
}

.start-button button {
    background: var(--white);
    border: none;
    border-radius: 5px;
    color: var(--green);
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    outline: none;
    padding: 10px 20px;
}

.start-button button:hover {
    background: var(--orange);
    color: var(--white);
}

/* Quiz box styling */
.quiz-box {
    background: var(--white);
    border-radius: 5px;
    max-width: 550px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
}

.quiz-box header {
    align-items: center;
    background: var(--white);
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    align-items: center;
    background: var(--pale-orange);
    border: 1px solid var(--soft-orange);
    border-radius: 5px;
    color: #854000;
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 0 8px;
    width: 145px;
}

.quiz-box header .timer .time-left-text {
    font-size: 17px;
    font-weight: 400;
    user-select: none;
}

.quiz-box header .timer .timer-value {
    background: var(--dark-grayish-blue);
    border: 1px solid var(--dark-grayish-blue);
    border-radius: 5px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    width: 45px;
}

section {
    padding: 25px 30px 20px 30px;
}

section .question-text {
    font-size: 20px;
    font-weight: 600;
}

section .answer-option-list {
    display: block;  
    padding: 20px 0px;
}

section .answer-option-list .option {
    align-items: center;
    background: #fdf6f0;
    border: 1px solid var(--soft-orange);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

section .answer-option-list .option:last-child {
    margin-bottom: 0px;
}

section .answer-option-list .option:hover {
    background: var(--pale-orange);
    border: 1px solid #f1cfaf;
    color: #122c1c;
}

section .answer-option-list .option.correct {
    background: #c0f5cd;
    border: 1px solid #c1e2c9;
    color: #175525;
}

section .answer-option-list .option.incorrect {
    background: #ebc9cb;
    border: 1px solid #e9bcc0;
    color: #722028;
}

section .answer-option-list .option.disabled {
    pointer-events: none;
}

section .answer-option-list .option .icon {
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 13px;
    height: 26px;
    line-height: 24px;
    pointer-events: none;
    text-align: center;
    transition: all 0.3s ease;
    width: 26px;
}
.answer-option-list .option .icon.tick {
    /*background: #bff7cc;*/
    border-color: #238d3b;
    color: #238d3c;
}

.answer-option-list .option .icon.cross {
    /*background: #f8d7da;*/
    border-color: #a42834;
    color: #a42834;
}

footer {
    align-items: center;
    border-top: 1px solid lightgrey;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 30px;
}

footer .question-count span {
    display: flex;
    user-select: none;
}

footer .question-count span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .question-count span p:first-child {
    padding-left: 0px;
}

footer button {
    background: var(--green);
    border: 1px solid var(--forest-green);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    line-height: 10px;
    opacity: 0;
    outline: none;
    padding: 0 33px;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover {
    background: var(--dark-green);
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* Results box styling */
.result-box, .highscore-box {
    align-items: center;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    opacity: 0;
    padding: 25px 30px;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
}

.result-box .icon {
    color: var(--green);
    font-size: 100px;
    margin-bottom: 10px;
}

.result-box .complete-quiz-text {
    font-size: 20px;
    font-weight: 500;
}

.result-box .answer-score-text span {
    display: flex;
    font-size: 18px;
    font-weight: 500;
	justify-content: center;
    margin: 10px 0;
}

#highscore-text {
    border: 1px solid #000;
    font-size: 14px;
    padding: 5px;
}

.result-box .submit {
    background: var(--green);
    border: 1px solid var(--forest-green);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    outline: none;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}

.result-box .submit:hover {
    background: var(--dark-green);
}

/* Highscore box styling */
.highscore-box h3 {
    border-bottom: 1px solid #3d3d3d;
    padding: 0 0 0 10px;
    text-align: center;
    width: 100%;
}

#highscore-list {
    margin-bottom: 20px;
    margin-top: 10px;
}

.highscore-box article {
    display: flex;
}

.buttons button {
    border: 1px solid var(--forest-green);
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    margin: 0 0 0 10px;
    outline: none;
    padding: 5px 25px;
}

.buttons button.restart {
    background: var(--green);
    color: var(--white);
}

.buttons button.restart:hover {
    background: var(--dark-green);
}

.buttons button.clear-highscore:hover {
    background: var(--orange);
    border: 1px solid #c24206;
    color: var(--white);
}

/* MEDIA QUERIES */
/***********************************************************/ 
/* For larger TABLETS and bigger devices - min-width 768px */
/***********************************************************/ 
@media only screen and (min-width: 768px) {
    #view-highscores-btn {
        display: flex;
    }
    .quiz-box {
        width: 550px;
    }
    section .question-text {
        font-size: 25px;
        font-weight: 600;
    }
}